/* Global Style */
.section-title
{
    font-size: 45px;}
.section-title span
{
    color:#0d6efd;
}

/* start navbar */

.login-btn,
.signup-btn
{
    background-color: #0d6efd;
    border-radius: 3px;
    margin-left: 5px;
}

/* End navbar */

/* Start reservation */
.reservation
{
    color:white;
}
/* End reservation */

.recent-reservation,
.monthly-revenue,.trend-food-content
{
    background-color:white;
    width:100%;
    margin-bottom: 10px;

}
@media(min-width:992px)
{
    .statistics-content
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .recent-reservation,
    .monthly-revenue
    {
        width:49%;
    }
}
