<!DOCTYPE html>
<html>
  <head>
    <title>Click to Go to a Special Page</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
      const stores = [];
      const locationsNearToYou = [];

      function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: { lat: 36.897820807394496, lng: 10.19007682800293 }, // Default center
        });

        function addStore(location) {
          let title = prompt("Please enter your restaurant title");
          const marker = new google.maps.Marker({
            position: {
              lat: location.lat,
              lng: location.lng,
            },
            map: map,
            title: title, // Replace with the store's name
            icon: 'store-icon.png', // Customize the marker icon
          });

          // Add the store to the stores array for reference
          stores.push({ name: title, location: location });

//#          const nameInput = document.getElementById("name");
// #         nameInput.value = stores[stores.length - 1].name;
//  #        const longInput = document.getElementById("longitude");
//   #       longInput.value = location.lng;
//    #      const latInput = document.getElementById("lat");
//     #     latInput.value = location.lat;


//form for restuarant 

            document.getElementById("restau_name").value =stores[stores.length - 1].name ;
            document.getElementById("restau_log").value = location.lng;
            document.getElementById("restau_lat").value=location.lat;

             
            
   



        }

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            const myLatlng = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };






            const marker = new google.maps.Marker({
              position: myLatlng,
              map,
              title: "Click to go to a special page",
            });

            const specialPageURL = "https://www.example.com/special-page";
            let request = {
              location: myLatlng,
              radius: 50000, // Search within a 5km radius
              type: ['store'] // You can specify other types like 'restaurant', 'gas_station', etc.
            };

            google.maps.event.addListener(map, 'click', find_closest_marker);

            function rad(x) {
              return x * Math.PI / 180;
            }

            function find_closest_marker(event) {
              var lat = event.latLng.lat();
              var lng = event.latLng.lng();
              var R = 6371; // radius of earth in km
              var distances = [];
              var closest = -1;

              addStore({ lat, lng });
            }
          });
        }
      }
    </script>
    <style>
      #map {
        height: 100%;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="coordinates">
      <h3>Place Information</h3>





    </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx1vzpm-72P8YRsM8w4vuMrrYn82iyLZE&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>


