{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit Menu</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_menu_index') }}"> 
                    View All Menus
                </a>
            </div>
            <div class="card-body">
                {% include 'menu/_form.html.twig' with {'button_label': 'Update Menu', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>

{% endblock %}
